title= 'TeamTimer'
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
link(rel="stylesheet", href="base.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
script(src="lib/bootstrap.min.js")
script(src="templates.js")
script(src="main.js")