doctype 5
html
  head
    include head
  body
    div.navbar
      div.navbar-inner
        div.container
          a.brand TeamTimer

    div.container-fluid
      div.span10
        include main
      div.span2
        include sidebar